
<body>
    <div id="login">
        <div class="container top">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form font" action="" method="post">
                            <h3 class="text-center text-info">เข้าสู่ระบบ</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Email:</label><br>
                                <input [(ngModel)]="email" type="text" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input [(ngModel)]="password" type="password" name="password" class="form-control ">
                            </div>
                              <button class="btn btn-danger" (click)="LoginGoogle()">Google</button>
                              <button style="margin-left: 10px;" class="btn btn-primary" (click)="LoginFacebook()">Facebook</button>
                            <div style="margin-top: 10px;" class="form-group text-center">
                                <input (click)="LoginUser()" class="btn btn-info btn-md" value="เข้าสู่ระบบ">
                            </div>
                            <div class="text-right">
                                <a href="/Security_Hub/register">ลงทะเบียน</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
