<body>
    <div class="font">
        <!-- <h3 class="text-center text-white pt-5">Hug Price</h3> -->
        <div class="container top">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form font" action="" method="post">
                            <h3 class="text-center text-info ">ลงทะเบียน</h3>
                            <div class="form-group">
                                <label for="firstname" class="text-info">ชื่อ - นามสกุล :</label><br>
                                <input [(ngModel)]="firstname" type="text" name="firstname" class="form-control"
                                    value="">
                            </div>
                            <!-- <div class="form-group">
                                <label for="lastname" class="text-info">นามสกุล :</label><br>
                                <input [(ngModel)]="lastname" type="text" name="lastname" class="form-control" value="">
                            </div> -->
                            <div class="form-group">
                                <label for="password" class="text-info">Email :</label><br>
                                <input [(ngModel)]="email" type="text" name="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">รหัสผ่าน :</label><br>
                                <input [(ngModel)]="password" type="password" name="password" class="form-control">
                            </div>
                            <!-- <div class="form-group">
                                <label for="password" class="text-info">ยืนยันรหัสผ่าน :</label><br>
                                <input [(ngModel)]="confirmpassword" type="password" name="confirmpassword"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">เบอร์โทร :</label><br>
                                <input [(ngModel)]="call" type="text" name="call" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="text-info" for="exampleFormControlTextarea1">ที่อยู่ :</label>
                                <textarea [(ngModel)]="address" name="address" class="form-control"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div> -->

                            <!-- <div style="margin-top: 20px;">
                                <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                            </div> -->
                           
                            <div style="margin-top: 20px;" class="form-group text-center">
                                <input (click)="Register()" class="btn btn-info btn-md" value="ลงทะเบียน">
                            </div>

                            <div class="text-center">
                                <a class="text-info" href="/Security_Hub/login">เข้าสู่ระบบ</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
